.menu {
    width: 100%;
    height: 100%;
    grid-area: menu;
    z-index: 5;
    background: #111528;
}

.nav{
    width: 100%;
}

.listItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.logo i {
    font-size: 20px;
    margin-right: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item > .title{
    width: 80%;
    border-radius: 8px;
    padding: 10px;
    background: #202436;
    cursor: pointer;
    color: white;
    text-decoration: none;   
    display: grid;
    grid-template-columns: 10% 80% 10%;

}

.item > .title > span{
    margin-left: 20px;
    font-weight: 500;
}

.item:last-child{
    position: fixed;
    bottom: 10px;
    width: 13.5rem;
}

.subMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subMenu > a {
    margin-top: 8px;
    width: 70%;
    background: #262834;
    height: 25px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 0px 0px 10px;
    border-radius: 8px;
}



@media only screen and (max-width: 1000px) {
    .menu {
        width: 15rem;
        height: 100vh;
        grid-area: menu;
        z-index: 5;
        background: #111528;
    }
}
