.container{
    display: grid;
    height: 100%;
    width: 100%; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 70%;
}

.containerSendMessage{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    border: 1px solid blue;
}

.title{
    background: #011e5d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 5px;
    gap: 10px
}

.miniInput{
    display: flex;
    gap: 10px;
}

.message {
    width: 95%;
}