.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.dataGrid{
    margin-top: 10px;
    width: 95%;
    height: 85%;
}

.input{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}