.container{
    display: flex;
    justify-content: space-between;
}

.container > div{
    display: flex;
    justify-content: space-evenly;
    gap: 10px
}

@media only screen and (max-width: 470px) {
    .section1{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}