.container{
    display: grid;
    height: 100%;
    width: 100%; 
    grid-template-columns: 100%;
    grid-template-rows: 10% 70%;
    gap: 10px;
}

.containerSendMessage{
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-rows: 20% 80%;
    border: 1px solid blue;
}

.title{
    background: #011e5d;
    padding: 0 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3px;
}

.message {
    width: 95%;
}