body {
    margin: 0;
    padding: 0;
}

.cursor-p {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.f-size-70{
    font-size: 70px;
}

.mr-5{
    margin-right: 5px;
}

.ml-5{
    margin-left: 5px;
    display: inline-block;
}

.ml-10{
    margin-left: 10px !important;
}

.d-block {
    display: block !important;
}

.outline-border-none{
    outline: none;
    border: none;
}

.vh-100{
    height: 100vh;
}

.center-screen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-blue{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}