.header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - 120px) 120px;
    grid-template-rows: 100%;
    align-items: center;
}

.header .search{
    width: 95%;
    height: 40px;
    display: grid;
    border: 1px solid #000;
    grid-template-columns: 90% 10%;
    align-items: center;
}

.searchInput {
    width: 100%;
    font-size: 20px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-weight: 700;
    text-transform: lowercase;
}



.searchButton{
    justify-self: center;
    cursor: pointer;
}

.containerNewInstance{
    justify-self: flex-end;
}

.newInstance {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #008060;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.searchButton{
    justify-self: center;
}



@media only screen and (max-width: 1000px) {
    .logo {
        display: none !important;
    }

    .userPerfil {
        display: none !important;
    }

    .header {
        display: grid;
        grid-template-columns: 100%;
    }

    .newInstance {
        position: fixed;
        width: 0px;
        height: 0px;
        left: 5px;
        top: calc(100% - 10px - 50px );
        z-index: 10;
        background: transparent;
        box-shadow: none;
        color: transparent;
    }
    
    .newInstance::after{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        content: "+";
        font-size: 45px;
        display: block;
        margin-top: -45px;
        color: #ffffff;
        background: #008060;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    }

}

@media only screen and (max-width: 450px) {
    .header .search > div{
        grid-template-columns: 80% 20%;
    }
}
